
body {
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
  padding-bottom: 10px;
}

ul li {
  position: relative;
  padding-bottom: 10px;
  /*left: -150%;*/
}

li {
  padding-bottom: 5px;
}

.left {
  position: relative;
  left: -28%;
  text-align: left;
  float: left;
}
.spacer {
  flex: 1;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

/* sections class */
.section {
  background-color: #fafafa;
  height: auto;
  justify-content: center;
  font-size: 0px;
  /*padding: 40px;
  width: 600px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  align-items: center;*/
}

/*.section.section-title {
  position: relative;
  padding-top: 16px;
  text-align: left;
  font-size: 30px;
  left: -20%;
}*/

/*.section.section-content {
  position: relative;
  left: 0%;
  font-size: 16px;
  text-align: left;
  max-width: 700px;
}*/

/*.section.paragraph-content {
  position: relative;
  padding-top: 0px;
  left: 0%;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  max-width: 700px;
  width: 50%;
}
*/

/* Card div classes */
.card {
  /*
  padding-bottom:0px;
  border-radius: 4px;
  border: 1px solid #eee;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  font-size: 0px;
  padding: 8px;
  */
  margin-left: auto;
  margin-right:auto;
}

.card.list-card {
  /*position: relative;
  left: 0%;*/
  justify-content: center;
  font-size: 16px;
  text-align: center;
  max-width: 700px;
  width: 75%;
}

.card.paragraph-content {
  /*padding-top: 0px;
  left: 0%;*/
  font-weight: 200;
  font-size: 16px;
  text-align: center;
  /*justify-content: center;*/
  max-width: 700px;
  width: 75%;
}

.card.name-card {
  font-weight: 5000;
  font-size: 22px;
  text-align: center;
  /*padding: 16px;*/
  /*
  justify-content: center;
  border: none;
  width: auto;
  height: 10%;
  min-width: 30%;
  */
  /*position: relative;*/
  /*left: -20%;*/
}

.card.card.name-card span {
  margin-left: 20px;
}

/*.card.title-card {
  background-color: white;
  position: relative;
  padding-bottom: 0px;
  left: -20%;
  height: 14px;
  border: none;
  width: auto;
  font-size: 20px;
  justify-content: center;
  text-align: left;
}*/

.card.table-card {
  /*
  padding:5px;
  outline: 1px solid grey;
  border: 5px;
  */
  font-size: 16px;
  text-align: center;
  border: 1px solid grey;
}

table,td,th {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid grey;
}

td {
  padding: 5px;
}

/*
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  font-size: 14px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card svg.material-icons path {
  fill: #888;
}

.card.card-small {
  height: 16px;
  width: 168px;
  font-size: 14px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
  font-size: 14px;
}

.card.card.highlight-card span {
  margin-left: 60px;
}
*/

.profile-image {
  display: inline;
  margin: -90% auto;
  margin-left: -115%;
  /*justify-content: center;*/
}

.profile-cropper {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  /*position: center;*/
  overflow: hidden;
  border-radius: 50%;
}

.section-left {
  float: left;
  width: 50%;
}

.section-right {
  float: right;
  width: 50%;
}
